<nav class="h-fit w-full bg-white flex flex-col items-center">
    <div class="my-4">
        <a href="#" class="w-full h-full"><img class="h-32" src="/images/logo.png" alt="Loggan"></a>
    </div>
    <div class="xl:hidden z-10">
        <div class="burger" onclick="toggleNavbar()">
            <div class="strip burger-strip">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="navbar-links z-10 fixed xl:static h-full xl:h-auto top-28 xl:top-auto pl-4 xl:pl-0 bg-slate-50 xl:bg-transparent rounded-lg self-end xl:self-center xl:w-fit flex flex-col gap-4 xl:block py-5">
        <a class="mr-11 <%= page == 'home' ? 'a-underlined' : '' %>" href="/">Startsida</a>
        <a class="mr-11 <%= page == 'guest-harbor' ? 'a-underlined' : '' %>" href="/gasthamn">Gästhamn</a>
        <a class="mr-11 <%= page == 'bike-rental' ? 'a-underlined' : '' %>" href="/cykeluthyrning">Cykeluthyrning</a>
        <a class="mr-11 <%= page == 'boat-houses' ? 'a-underlined' : '' %>" href="/sjobodarna">Sjöbodarna</a>
        <a class="mr-11 <%= page == 'about-us' ? 'a-underlined' : '' %>" href="/om-svartso">Om Svartsö</a>
        <a class="<%= page == 'contact-us' ? 'a-underlined' : '' %>" href="/kontakt">Kontakta oss</a>
    </div>
</nav>